<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>backboneapp</title>
        <!--<meta name="description" content="">-->
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="wrapper">

            <header>
                
                <h1>The Iron Yard Team</h1>
            
            </header>
            
            <!--<nav>
                
            </nav>-->
            
            <div id="display">
                
                <div class="controls">

                    <button class="add">Add User</button>

                    <form class="add-user-form">

                        <input type="text" placeholder="Image URL" class="profile-url" />

                        <input type="text" placeholder="First Name" class="first-name" />

                        <input type="text" placeholder="Last Name" class="last-name" />

                        <input type="text" placeholder="GitHub URL" class="github-url" />

                        <input type="submit" value="Save" />

                    </form>

                    <button class="remove">Cancel</button>

                </div> <!-- .controls ends -->

                <!-- $container ref. -->
                <div class="listing">
    
                </div> <!-- .listing ends -->
            
            </div> <!-- #display ends -->
            
            <footer>
                
                <p>The Iron Yard Team | 2013</p>
            
            </footer>

        </div> <!-- #wrapper ends -->
    
        <script type="text/template" id="template-user">

            <div class="user">

                <img src=<%- photoLink %> class="profile" />
                
                <h2 class="user-name">
                    <%- firstName %>
                    <%- lastName %>
                </h2>
                
                <a href=<%- githubLink %> class="github">GitHub Account</a>
                
                <button class="edit">Edit</button>
                
                <form class="add-edit-form">
                    
                    <input type="text" value=<%- photoLink %> class="profile-edit" />
                    <input type="text" value=<%- firstName %> class="first-edit" />
                    <input type="text" value=<%- lastName %> class="last-edit" />
                    <input type="text" value=<%- githubLink %> class="github-edit" />
                    
                    <input type="submit" class="save" value="Save" />
                
                </form>

                <button class="remove-edit">Cancel</button>
                
                <button class="delete">Delete</button>
            
            </div>

        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.min.js"></script>
        <script src="bower_components/lodash/dist/lodash.min.js"></script>
        <script src="bower_components/backbone/backbone-min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/router.js"></script>
        <script src="scripts/models/user.js"></script>
        <script src="scripts/collections/user.js"></script>
        <script src="scripts/views/user.js"></script>
        <script src="scripts/views/directory.js"></script>
        <!-- endbuild -->

        <!-- build:js(.tmp) scripts/coffee.js -->
        <!--<script src="scripts/hello.js"></script>-->
        <!-- endbuild -->
</body>
</html>
